<%= render 'partials/filter_bar', posts: @posts %>
<div class="container">
  <% @posts_grouped_by_date.keys.sort.reverse.each do |date| %>
    <% posts = @posts_grouped_by_date[date] %>
    <h2 class="section-title">
    <% if date == Date.today %>
        Today
      <% elsif date == Date.yesterday %>
        Yesterday
      <% else %>
        <%= date.strftime('%A, %B %d, %Y') %>
      <% end %>
    </h2>
    <%= render 'partials/post_card', posts: posts %>
  <% end %>
</div>
<%= console %>
